tr:nth-child(even){
background:
    -webkit-linear-gradient(bottom left, #F1FBFF 25%, white 0%, white 50%, #F1FBFF 0%, #F1FBFF 75%, white 0%);
background:
    -o-linear-gradient(bottom left, #F1FBFF 25%, white 0%, white 50%, #F1FBFF 0%, #F1FBFF 75%, white 0%);
background:
    linear-gradient(to top right,#F1FBFF 25%, white 0%, white 50%, #F1FBFF 0%, #F1FBFF 75%, white 0%);;
  background-size:30px 30px;
}
}